body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("img_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


/* Overlay to adjust opacity */
#overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center; /* Center items vertically */
}

.logo-icon {
  width: 45px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between icon and text */
}

.title {
  color: #4caf50; /* Green color */
  font-size: 36px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle 3D effect */
}

nav {
  background-color: rgba(0, 100, 0, 0.7); /* Dark green with 70% opacity */
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

nav a:hover {
  background-color: #ffd700; /* Golden color */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
